body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* PAGE SYSTEM */
.page {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* SPLASH */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 120px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

/* 🔥 TARIF JADI BUTTON */
.tarif {
    color: orange;
    cursor: pointer;
}

/* CONTENT */
.content {
    padding: 20px;
    padding-bottom: 140px;
}

.section {
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.small {
    font-size: 14px;
    color: gray;
}

/* ANGKA RAPI */
.row span:last-child {
    text-align: right;
    min-width: 120px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: orange;
    color: white;
    border: none;
    border-radius: 8px;
}

/* INPUT */
input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

/* BOTTOM */
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    box-sizing: border-box;
}
body {
    max-width: 480px;
    margin: auto;
}